@{
    ViewData["Title"] = "Enter Movie";
}
@model Movie
<h1>@ViewData["Title"]</h1>


<p>Please fill out the form below to enter a movie into the database.</p>



<form method="post">
    <label asp-for="category">Category:</label>
        <input asp-for="category"/><br />
    <label asp-for="title">Title:</label>
        <input asp-for="title" /><br />
    <label asp-for="year">Year:</label>
        <input asp-for="year" /><br />
    <label asp-for="director">Director:</label>
        <input asp-for="director" /><br />
    <label asp-for="rating">Rating:</label>
    <select asp-for="rating">
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select><br />
    <label asp-for="edited">Edited:</label>
        <input asp-for="edited"/><br />
    <label asp-for="lent">Lent To:</label>
        <input asp-for="lent"/><br />
    <label asp-for="notes">Notes:</label>
        <textarea asp-for="notes" maxlength="25" rows="3"></textarea>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>