@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Best Film Collection of ALL TIME</h1>


<img src="~/joelheadshot.jpg" style="width=400px;"/>
<p>Hey there I'm Joel, thanks for visiting my site!!</p>

<br />
<br />
<br />

<h3>Here are some of the best movies of all time...</h3>

<br />

<div class="d-flex flex-row bd-highlight mb-3">
    <img style="width:200px; padding:20px" src="~/darkknight.jpg" />
    <img style="width:200px;" src="~/godfather.jpg" />
    <img style="width:200px;padding:20px" src="~/shawshank.jpg" />
</div>
